<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "dk.jellej"
	version   = "1.6.3">

	<!-- versionCode is optional and Android only -->

	<name>Julesange</name>

	<description>
		Julesange til alle.
	</description>

	<author href="https://build.phonegap.com" email="jespera@gmail.com">
		Jesper Andersen
	</author>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />

	<gap:splash src="splash.png" />

	<preference name="phonegap-version" value="3.1.0" />
	<preference name="fullscreen" value="true" />

	<gap:plugin name="org.apache.cordova.media" version="0.2.8" />

	<icon src="icon.png" />

	<!-- for android -->
	<preference name="android-minSdkVersion" value="10" />
	<preference name="splash-screen-duration" value="100" />

	<preference name="permissions" value="none" />
</widget>
