<!--<script>-->
<!--var cur_url = window.localStorage.getItem("cur_url");-->
<!--window.addEventListener("orientationchange", orientationChange, true);-->
<!--function orientationChange(e) {-->
<!--cur_url = window.location.hash;-->
<!--window.localStorage.setItem("cur_url", cur_url);-->
<!--window.removeEventListener("orientationchange", orientationChange);-->
<!--}-->
<!--</script>-->
<script>

</script>
<!-- <a href="#" style="color: #608060; font-size: 48px; position:fixed; margin-top: -24px; top:0; left:0;">&larr;</a> -->
<a ng-click="goBack()" href="" style="color: #608060; font-size: 48px; position:fixed; margin-top: -24px; top:0; left:0;">&larr;</a>
<h1 style="margin-left: 28px;" ng-bind-html="getSong(sangId).title"></h1>
<div class="songtext">
	<ol>
		<a ng-show="getSong(sangId).audio" ng-click="playSong()" >Spil melodi 1</a>
		<a ng-show="getSong(sangId).audio" ng-click="playSong2()" >Spil melodi 2</a>
		<li ng-repeat="verse in getSong(sangId).text">
			<p ng-bind-html="verse"></p>			
		</li>	
	</ol>
</div>

